// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザーー情報下ボタン */

.btn-users-show {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  
  td {
    vertical-align: middle;
    text-align: center;
    .sat {
      color: #0000ff;
    }
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }
}


.user-name{
  a{
      color: black;
      text-decoration: none;
  }
  font-size: 20px;
}

.user-edit-btn{
  a {
    width: 100px;
    background-color: red; 
  }
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* 検索機能 */
.search {
    padding: 5px;
    margin-bottom: 10px;
    float: right;
}

.search-btn {
  margin: 5px 0px;
}

.form-search {
  width: 100%;
}

.search p{
    font-size: 25px;
}

.overtime-btn {
  width: 100%;
}

.form-csv {
  margin-bottom: 15px;
}

.csv {
  width: 400px;
}